{% load static %}

<button id="accessibility-menu-toggle" class="accessibility_menu_toggle">
    <img class"" src="{% static 'main/icons/accessibility-icon.png' %}" alt="profile">
</button>

<div id="accessibility-menu" class="accessibility_menu">

    
    <button id="close-accessibility-menu" aria-label="Close accessibility menu - סגירת תפריט נגישות" >X</button>

    <button id="reset-accessibility-settings">
        {% comment %} Reset {% endcomment %}
        איפוס
    </button>


    <br>

    <!-- Accessible Focus Mode -->
    <label tabindex="0">
        <input id="toggle-accessible-focus-mode" type="checkbox">
        <span>
            {% comment %} Focus Mode {% endcomment %}
            מצב פוקוס
        </span>
    </label>
    <br>
    <!-- Accessible Stop Animations -->
    <label class="stop-animations" tabindex="0">
        <input id="toggle-accessible-stop-animations" type="checkbox">
        <span>
            {% comment %} Stop Animations {% endcomment %}
            עצירת אנימציות
        </span>
    </label>
    <br>
    <!-- Accessible Dark Mode -->
    <label tabindex="0">
        <input id="toggle-accessible-dark-mode" type="checkbox">
        <span>
            {% comment %} Dark Contrast {% endcomment %}
            ניגודיות כהה
        </span>
    </label>
    <br>
    <label tabindex="0">
        <input id="toggle-accessible-bright-mode" type="checkbox">
        <span>
            {% comment %} Light Contrast {% endcomment %}
            ניגודיות בהירה
        </span>
    </label>
    <br>
    <label tabindex="0">
        <input id="toggle-accessible-monochrome-mode" type="checkbox">
        <span>
            {% comment %} Monochrome Mode {% endcomment %}
            מצב מונוכרום
        </span>
    </label>
    <br>
    <label tabindex="0">
        <input id="toggle-accessible-saturate-mode" type="checkbox">
        <span>
            {% comment %} Saturated Colors Mode {% endcomment %}
            מצב צבעים רוויים
        </span>
    </label>
    <br>
    <label tabindex="0">
        <input id="toggle-accessible-readable-font" type="checkbox">
        <span>
            {% comment %} Readable Font {% endcomment %}
            גופן קריא
        </span>
    </label>
    <br>
    <!-- Accessible Big Font -->
    <label tabindex="0">
        <input id="toggle-accessible-big-font" type="checkbox">
        <span>
            {% comment %} Big Font {% endcomment %}
            גופן גדול
        </span>
    </label>
    <br>
    <!-- Accessible Big Cursor -->
    <label tabindex="0">
        <input id="toggle-accessible-big-cursor-white" type="checkbox">
        <span>
            {% comment %} Big Cursor White {% endcomment %}
            סמן גדול לבן
        </span>
    </label>
    <br>
    <label tabindex="0">
        <input id="toggle-accessible-big-cursor-black" type="checkbox">
        <span>
            {% comment %} Big Cursor Black {% endcomment %}
            סמן גדול שחור
        </span>
    </label>
    <br>
    <label tabindex="0">
        <input id="toggle-accessible-highlight-titles" type="checkbox">
        <span>
            {% comment %} Highlight Titles {% endcomment %}
            הדגשת כותרות
        </span>
    </label>
    <br>
    <label tabindex="0">
        <input id="toggle-accessible-highlight-links" type="checkbox">
        <span>
            {% comment %} Highlight Links {% endcomment %}
            הדגשת קישורים
        </span>
    </label>
    <br>
    <label tabindex="0">
        <input id="toggle-accessible-image-description" type="checkbox">
        <span>
            {% comment %} Image Description {% endcomment %}
            תיאור תמונה
        </span>
    </label>
    <br>

    <label for="toggle-callused-text">
        <input id="toggle-callused-text" type="checkbox">
        <span class="callused-text">קוראי מסך</span>
    </label>
    
    <div class="collapsible-content" style="display: none;">
    <p>
        האתר שלנו עבר בדיקות נגישות מקיפות ועבר בהצלחה את המבחנים באמצעות VoiceOver, תוכנת קורא מסך פופולרית למערכת ההפעלה macOS. אנו מחויבים לוודא שאתרנו נגיש לכל המשתמשים, כולל משתמשים עם לקות ראיה.

        אנא שימו לב שבדיקותינו בוצעו באמצעות VoiceOver על מערכת ההפעלה macOS, אך קיימות תוכנות קורא מסך נוספות עבור מערכות הפעלה שונות. אנו ממליצים למשתמשים לעיין במדריך המשתמש או בתיעוד העזרה של התקן שלהם כדי לקבל הוראות לגבי שימוש בתכונות נגישות המתאימות.

        על ידי ספקת אתר נגיש, אנו שואפים להתייצב בדרישות החוק וליצור סביבה כוללנית עבור כל המבקרים שלנו.
    </p>
    </div>

    <P>
        <small>
            <hr>
            שים לב: הגדרות נגישות ישובו לברירת המחדל אם לא ישונו תוך 24 שעות.
        </small>
    </p>
    
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        var checkbox = document.getElementById("toggle-callused-text");
        var content = document.querySelector(".collapsible-content");
        
        checkbox.addEventListener("change", function() {
        if (this.checked) {
            content.style.display = "block";
        } else {
            content.style.display = "none";
        }
        });
    });
    </script>
      
    

</div>

<script>
    {% comment %} Web Storage API for store state of accessible taggles {% endcomment %}

    const toggleAccessibleFocusMode = document.getElementById('toggle-accessible-focus-mode');
    const toggleAccessibleStopAnimations = document.getElementById('toggle-accessible-stop-animations');
    const toggleAccessibleDarkMode = document.getElementById('toggle-accessible-dark-mode');
    const toggleAccessibleBrightMode = document.getElementById('toggle-accessible-bright-mode');
    const toggleAccessibleMonochromeMode = document.getElementById('toggle-accessible-monochrome-mode');
    const toggleAccessibleSaturateMode = document.getElementById('toggle-accessible-saturate-mode');
    const toggleAccessibleBigFont = document.getElementById('toggle-accessible-big-font');
    const toggleAccessibleBigCursorWhite = document.getElementById('toggle-accessible-big-cursor-white');
    const toggleAccessibleBigCursorBlack = document.getElementById('toggle-accessible-big-cursor-black');
    const toggleAccessibleReadableFont = document.getElementById('toggle-accessible-readable-font');
    const toggleAccessibleHighlightTitles = document.getElementById('toggle-accessible-highlight-titles');
    const toggleAccessibleHighlightLinks = document.getElementById('toggle-accessible-highlight-links');
    const toggleAccessibleImageDescription = document.getElementById('toggle-accessible-image-description');
    const bodyElement = document.querySelector('body');
    
    function saveAccessibilitySettings() {
        const accessibilitySettings = {
            accessibleFocusMode: toggleAccessibleFocusMode.checked,
            accessibleStopAnimations: toggleAccessibleStopAnimations.checked,
            accessibleDarkMode: toggleAccessibleDarkMode.checked,
            accessibleBrightMode: toggleAccessibleBrightMode.checked,
            accessibleMonochromeMode: toggleAccessibleMonochromeMode.checked,
            accessibleSaturateMode: toggleAccessibleSaturateMode.checked,
            accessibleBigFont: toggleAccessibleBigFont.checked,
            accessibleReadableFont: toggleAccessibleReadableFont.checked,
            accessibleHighlightTitles: toggleAccessibleHighlightTitles.checked,
            accessibleHighlightLinks: toggleAccessibleHighlightLinks.checked,
            accessibleImageDescription: toggleAccessibleImageDescription.checked,
            accessibleBigCursorWhite: toggleAccessibleBigCursorWhite.checked,
            accessibleBigCursorBlack: toggleAccessibleBigCursorBlack.checked
        };
        
        localStorage.setItem("accessibilitySettings", JSON.stringify(accessibilitySettings));
    }
    
    function loadAccessibilitySettings() {
        const storedSettings = localStorage.getItem("accessibilitySettings");
        
        if (storedSettings) {
            const accessibilitySettings = JSON.parse(storedSettings);
        
            toggleAccessibleFocusMode.checked = accessibilitySettings.accessibleFocusMode;
            toggleAccessibleStopAnimations.checked = accessibilitySettings.accessibleStopAnimations;
            toggleAccessibleDarkMode.checked = accessibilitySettings.accessibleDarkMode;
            toggleAccessibleBrightMode.checked = accessibilitySettings.accessibleBrightMode;
            toggleAccessibleMonochromeMode.checked = accessibilitySettings.accessibleMonochromeMode;
            toggleAccessibleSaturateMode.checked = accessibilitySettings.accessibleSaturateMode;
            toggleAccessibleBigFont.checked = accessibilitySettings.accessibleBigFont;
            toggleAccessibleReadableFont.checked = accessibilitySettings.accessibleReadableFont;
            toggleAccessibleHighlightTitles.checked = accessibilitySettings.accessibleHighlightTitles;
            toggleAccessibleHighlightLinks.checked = accessibilitySettings.accessibleHighlightLinks;
            toggleAccessibleImageDescription.checked = accessibilitySettings.accessibleImageDescription;
            toggleAccessibleBigCursorWhite.checked = accessibilitySettings.accessibleBigCursorWhite;
            toggleAccessibleBigCursorBlack.checked = accessibilitySettings.accessibleBigCursorBlack;
        
            applyAccessibilitySettings();
        }
    }

    // check if user changed accessibility settings in the last 24 hours and if not - reset them
    function checkAndDeleteAccessibilitySettings() {
        const lastSettingsChange = localStorage.getItem("lastSettingsChange");
        const oneDay = 24 * 60 * 60 * 1000;
        
        if (lastSettingsChange) {
            const timeSinceLastChange = Date.now() - lastSettingsChange;
            
            if (timeSinceLastChange > oneDay) {
                resetAccessibilitySettings();
            }
        }
    }

    function updateLastSettingsChange() {
        localStorage.setItem("lastSettingsChange", Date.now());
    }
      
    function applyAccessibilitySettings() {
        bodyElement.classList.toggle('accessible-focus-mode', toggleAccessibleFocusMode.checked);
        bodyElement.classList.toggle('accessible-stop-animations', toggleAccessibleStopAnimations.checked);
        bodyElement.classList.toggle('accessible-dark-mode', toggleAccessibleDarkMode.checked);
        bodyElement.classList.toggle('accessible-bright-mode', toggleAccessibleBrightMode.checked);
        bodyElement.classList.toggle('accessible-monochrome-mode', toggleAccessibleMonochromeMode.checked);
        bodyElement.classList.toggle('accessible-saturate-mode', toggleAccessibleSaturateMode.checked);
        bodyElement.classList.toggle('accessible-big-font', toggleAccessibleBigFont.checked);
        bodyElement.classList.toggle('accessible-readable-font', toggleAccessibleReadableFont.checked);
        bodyElement.classList.toggle('accessible-highlight-titles', toggleAccessibleHighlightTitles.checked);
        bodyElement.classList.toggle('accessible-highlight-links', toggleAccessibleHighlightLinks.checked);
        bodyElement.classList.toggle('accessible-image-description', toggleAccessibleImageDescription.checked);
        bodyElement.classList.toggle('accessible-big-cursor-white', toggleAccessibleBigCursorWhite.checked);
        bodyElement.classList.toggle('accessible-big-cursor-black', toggleAccessibleBigCursorBlack.checked);

        updateLastSettingsChange();
    }

    {% comment %} accessible mode taggles (by marked body with special class) {% endcomment %}
    document.addEventListener('DOMContentLoaded', function () {
        toggleAccessibleFocusMode.addEventListener('change', function () {
            bodyElement.classList.toggle('accessible-focus-mode', this.checked);
            saveAccessibilitySettings();
        });

        toggleAccessibleStopAnimations.addEventListener('change', function () {
            bodyElement.classList.toggle('accessible-stop-animations', this.checked);
            saveAccessibilitySettings();
        });
    
        toggleAccessibleDarkMode.addEventListener('change', function () {
            if (this.checked) {
                bodyElement.classList.add('accessible-dark-mode');
                bodyElement.classList.remove('accessible-bright-mode');
                toggleAccessibleBrightMode.checked = false;
            } else {
                bodyElement.classList.remove('accessible-dark-mode');
            }
            saveAccessibilitySettings();
        });
    
        toggleAccessibleBrightMode.addEventListener('change', function () {
            if (this.checked) {
                bodyElement.classList.add('accessible-bright-mode');
                bodyElement.classList.remove('accessible-dark-mode');
                toggleAccessibleDarkMode.checked = false;
            } else {
                bodyElement.classList.remove('accessible-bright-mode');
            }
            saveAccessibilitySettings();
        });
    
        toggleAccessibleMonochromeMode.addEventListener('change', function () {
            if (this.checked) {
                bodyElement.classList.add('accessible-monochrome-mode');
                bodyElement.classList.remove('accessible-saturate-mode');
                toggleAccessibleSaturateMode.checked = false;
            } else {
                bodyElement.classList.remove('accessible-monochrome-mode');
            }
            saveAccessibilitySettings();
        });
    
        toggleAccessibleSaturateMode.addEventListener('change', function () {
            if (this.checked) {
                bodyElement.classList.add('accessible-saturate-mode');
                bodyElement.classList.remove('accessible-monochrome-mode');
                toggleAccessibleMonochromeMode.checked = false;
            } else {
                bodyElement.classList.remove('accessible-saturate-mode');
            }
            saveAccessibilitySettings();
        });

        toggleAccessibleBigFont.addEventListener('change', function () {
            bodyElement.classList.toggle('accessible-big-font', this.checked);
            saveAccessibilitySettings();
        });

        toggleAccessibleReadableFont.addEventListener('change', function () {
            bodyElement.classList.toggle('accessible-readable-font', this.checked);
            saveAccessibilitySettings();
        });

        toggleAccessibleHighlightTitles.addEventListener('change', function () {
            bodyElement.classList.toggle('accessible-highlight-titles', this.checked);
            saveAccessibilitySettings();
        });

        toggleAccessibleHighlightLinks.addEventListener('change', function () {
            bodyElement.classList.toggle('accessible-highlight-links', this.checked);
            saveAccessibilitySettings();
        });

        toggleAccessibleImageDescription.addEventListener('change', function () {
            bodyElement.classList.toggle('accessible-image-description', this.checked);
            saveAccessibilitySettings();
        });
    
        toggleAccessibleBigCursorWhite.addEventListener('change', function () {
            if (this.checked) {
            bodyElement.classList.add('accessible-big-cursor-white');
            bodyElement.classList.remove('accessible-big-cursor-black');
            toggleAccessibleBigCursorBlack.checked = false;
            } else {
            bodyElement.classList.remove('accessible-big-cursor-white');
            }
            saveAccessibilitySettings();
        });
    
        toggleAccessibleBigCursorBlack.addEventListener('change', function () {
            if (this.checked) {
            bodyElement.classList.add('accessible-big-cursor-black');
            bodyElement.classList.remove('accessible-big-cursor-white');
            toggleAccessibleBigCursorWhite.checked = false;
            } else {
            bodyElement.classList.remove('accessible-big-cursor-black');
            }
            saveAccessibilitySettings();
        });

        //check if user changed accessibility settings in the last 24 hours and if not - reset them
        checkAndDeleteAccessibilitySettings();
        
        loadAccessibilitySettings();
        applyAccessibilitySettings();

    });


    {% comment %} JS of accessible menu button {% endcomment %}
    document.addEventListener('DOMContentLoaded', function () {
        const accessibilityMenuToggle = document.getElementById('accessibility-menu-toggle');
        const accessibilityMenu = document.getElementById('accessibility-menu');
        const closeAccessibilityMenu = document.getElementById('close-accessibility-menu');
    
        accessibilityMenuToggle.addEventListener('click', function (event) {
          event.preventDefault();
          accessibilityMenu.classList.toggle('open');
        });
    
        closeAccessibilityMenu.addEventListener('click', function (event) {
            event.preventDefault();
            accessibilityMenu.classList.remove('open');
        });
    });
    
         {% comment %} reset-accessibility-settings button {% endcomment %}

         function resetAccessibilitySettings() {
            const toggles = [
                toggleAccessibleFocusMode,
                toggleAccessibleStopAnimations,
                toggleAccessibleDarkMode,
                toggleAccessibleBrightMode,
                toggleAccessibleMonochromeMode,
                toggleAccessibleSaturateMode,
                toggleAccessibleBigFont,
                toggleAccessibleReadableFont,
                toggleAccessibleHighlightTitles,
                toggleAccessibleHighlightLinks,
                toggleAccessibleImageDescription,
                toggleAccessibleBigCursorWhite,
                toggleAccessibleBigCursorBlack
            ];
    
            toggles.forEach(toggle => {
                toggle.checked = false;
            });
    
            localStorage.removeItem("accessibilitySettings");
    
            applyAccessibilitySettings();
        }
    
    
        {% comment %} accessible mode toggles (by marking body with special class) {% endcomment %}
        document.addEventListener('DOMContentLoaded', function () {
            // Add event listener for reset button
            const resetButton = document.getElementById('reset-accessibility-settings');
            resetButton.addEventListener('click', resetAccessibilitySettings);
        });
</script>