{% extends 'modules/user_registrar_base.html' %}

{% block title %}
    {% comment %} Password {% endcomment %}
    סיסמה
{% endblock title %}

{% block unified_form %}
    {% comment %} <h1>Enter new password</h1> {% endcomment %}
    <h1>סיסמה חדשה</h1>

    {% comment %} <p>Please enter your new password twice so we can verify you typed it in correctly.</p> {% endcomment %}
    <p>אנא הזינו את הסיסמה החדשה שלכם פעמיים כדי שנוכל לאמת שהזנתם אותה נכון.</p>

    <form method="POST">
        {% csrf_token %}
        {% comment %} <input type="password" name="{{ form.new_password1.name }}" required id="{{ form.new_password1.id_for_label }}" placeholder="New password"> {% endcomment %}
        <input type="password" name="{{ form.new_password1.name }}" required id="{{ form.new_password1.id_for_label }}" placeholder="סיסמה חדשה">
        {{ form.new_password1.errors }}

        {% comment %} <input type="password" name="{{ form.new_password2.name }}" required id="{{ form.new_password2.id_for_label }}" placeholder="New Password confirmation"> {% endcomment %}
        <input type="password" name="{{ form.new_password2.name }}" required id="{{ form.new_password2.id_for_label }}" placeholder="אימות סיסמה חדשה">
        {{ form.new_password2.errors }}

        {% comment %} <button type="submit">Change my password</button> {% endcomment %}
        <button type="submit">שינוי הסיסמה שלי</button>
    </form>
{% endblock unified_form %}