<div class="search_wraper">
    <div class="search_container">
        {{ form.category}}

        {% if form.category.value %}
            {{ form.sub_category }}
        {% endif %}

        {% if form.sub_category.value and form.category.value %}
            {{ form.type }}
        {% endif %}

        <input class='field' type="submit" value="חיפוש" id='id_submit'>

    </div>
    {{ field.errors }}
    <div id="filters" class="filters">

        <span class="filter">
            {{ form.region }}
            <span class="title">אזור</span>
        </span>

        <span class="filter">
            {{ form.min_price }}
            <span class="title">מחיר מינימלי</span>
        </span>
        <span class="filter">
            {{ form.max_price }}
            <span class="title">מחיר מקסימלי</span>
        </span>

        <span class="filter toggle">
            {{ form.with_image }}
            <label for="id_with_image"></label>
            <span class="title">עם תמונה</span>
        </span>

        <!-- <span class="filter toggle">
            {{ form.exclusive }}
            <label for="id_exclusive"></label>
            <span class="title">בלעדי</span>
        </span> -->
    </div>
    <br>
</div>
