{% extends 'modules/user_ads_base.html' %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'user_ads/css/ad_post.css' %}" type="text/css">
{% endblock extra_css %}

{% block main_content %}
  {% comment %} <h1>Create a new post</h1> {% endcomment %}
  <h1>מודעה חדשה</h1>
  <form method="POST" action="{% url 'secondhand_post' %}" enctype="multipart/form-data" onsubmit="disableButton()">

    {% csrf_token %}

    {% if form.errors %}
      <div class="alert">
        {% comment %} <strong>Error:</strong> Please correct the errors below. {% endcomment %}
        .<strong>שגיאה:</strong> נא לתקן את השגיאות למטה
      </div>
    {% endif %}

    {{ form.as_p }}
    <datalist id="city_list">
      {% for city in city_list %}
          <option value="{{ city.name }}">
      {% endfor %}
    </datalist>

    <datalist id="brand_list">
      {% for brand in brand_list %}
          <option value="{{ brand.name }}">
      {% endfor %}
    </datalist>

    <script>
        // City list autocomplete
        var input = document.getElementById('id_city');
        var datalist = document.getElementById('city_list');
        var options = datalist.getElementsByTagName('option');
        input.addEventListener('input', function() {
        // Hide the dropdown list if there are no matching options
        var matching_options = Array.from(options).filter(function(option) {
            return option.value.indexOf(input.value) === 0;
        });

        datalist.style.overflowY = 'scroll';
        datalist.style.maxHeight = '100px';

        if (matching_options.length === 0) {
            datalist.style.display = 'none';
            return;
        }
        // Show the dropdown list and highlight the first matching option
        datalist.style.display = 'block';
        matching_options[0].selected = true;
        });
    </script>

    <script>
        // Brand list autocomplete
        var input = document.getElementById('id_brand');
        var datalist = document.getElementById('brand_list');
        var options = datalist.getElementsByTagName('option');
        input.addEventListener('input', function() {
        // Hide the dropdown list if there are no matching options
        var matching_options = Array.from(options).filter(function(option) {
            return option.value.indexOf(input.value) === 0;
        });

        datalist.style.overflowY = 'scroll';
        datalist.style.maxHeight = '100px';

        if (matching_options.length === 0) {
            datalist.style.display = 'none';
            return;
        }
        // Show the dropdown list and highlight the first matching option
        datalist.style.display = 'block';
        matching_options[0].selected = true;
        });
    </script>

    <button type="submit" id="new-ad-submit-btn">
      <span>לפרסם</span>
      <span class="spinner-border spinner-border-sm d-none" role="status"></span>
    </button>

  </form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript">
    // Get subcategories of the selected category and same for types
    $(document).ready(function() {
      // Clear subcategories and types dropdowns when the page loads
      $('#id_sub_category').empty();
      $('#id_type').empty();
  
      // Add a default option back into the dropdowns
      $('#id_sub_category').append('<option value="">---------</option>');
      $('#id_type').append('<option value="">---------</option>');
  
      $('#id_category').change(function() {
          var url = "{% url 'get_subcategories_of_secondhand' 0 %}".replace('0', $(this).val());
          $.ajax({
              url: url,
              success: function(data) {
                  var select = $('#id_sub_category');
                  select.empty();  // Empty the dropdown before adding new options
  
                  // Add a default option back into the dropdown
                  select.append('<option value="">---------</option>');
  
                  $.each(data, function(index, value) {
                      select.append(new Option(value.name, value.id));
                  });
  
                  // Clear types dropdown when category changes and add a default option
                  var typeSelect = $('#id_type');
                  typeSelect.empty();
                  typeSelect.append('<option value="">---------</option>');
              }
          });
      });
  
      $('#id_sub_category').change(function() {
          var url = "{% url 'get_type_of_secondhand' 0 %}".replace('0', $(this).val());
          $.ajax({
              url: url,
              success: function(data) {
                  var select = $('#id_type');
                  select.empty();  // Empty the dropdown before adding new options
  
                  // Add a default option back into the dropdown
                  select.append('<option value="">---------</option>');
  
                  $.each(data, function(index, value) {
                      select.append(new Option(value.name, value.id));
                  });
              }
          });
      });
    });
  </script>

  <script>
    // {% comment %} Disable the submit button after clicking it, to prevent double-clicking {% endcomment %}
    function disableButton() {
      var submitBtn = document.getElementById("new-ad-submit-btn");
      submitBtn.disabled = true;
      submitBtn.querySelector("span").classList.add("d-none");
      submitBtn.querySelector("span").innerHTML = "מעבד...";
      submitBtn.querySelector(".spinner-border").classList.remove("d-none");
    }
  </script>
  
{% endblock main_content %}