{% load static %}
<!DOCTYPE html>
<html lang="he" dir="rtl">

    <head>
        {% comment %} Google tag (gtag.js) {% endcomment %}
        {% include 'modules/google_analytics_tag.html' %}

        {% include 'modules/head_set.html' %}
        <title>
        {% block title %}
            על הפרוייקט
        {% endblock title %}
        </title>
        <link rel="icon" href="{% static 'main/icons/title-ico.png' %}" type="image/png">
    </head>

    <body>
        {% include 'modules/header.html' %}
        <main>
            <h1>על הפרוייקט</h1>
            <br>
            <p>
                גלו את עתיד המודעות המותאמות אישית בישראל באתר Smartshuk.co.il, השוק המתפתח והפורח שתוכנן במיוחד בשבילכם. בין אם אתם מחפשים לקנות או למכור נכסים, רכבים, פריטים יד שניה או שירותים, הפלטפורמה שלנו מחויבת לספק פתרונות חדשניים ומותאמים אישית שיענו על כל צרככם.
            </p>
            <br>
            <p>
                האתר Smartshuk.co.il ממשיך להתפתח ומוסיף קטגוריות חדשות לפרסום וחיפוש מודעות מותאמות אישית, ומבטיח מגוון אפשרויות תמיד מתרחב. המשימה שלנו היא לעזור לכם למצוא בדיוק את מה שאתם מחפשים תוך שימוש בחווית גלישה חלקה ונעימה. אנו גאים בדפים המסודרים והאלגנטיים שלנו שמאפשרים לכם להתמקד במה שבאמת חשוב – יצירת קשרים עם אחרים לצורך קניה, מכירה וגילוי.
            </p>
            <br>
            <p>
                הפלטפורמה שלנו מתהדרת בעיצוב חזית אינטואיטיבי ומרשים לעין, כולל הזנה המעוררת השראה ממדיה חברתית ותכונה נוחה לסימון מודעות מועדפות. אנו מבינים שניווט בעולם המודעות המותאמות אישית עשוי להיות מאתגר, ולכן אנו מעדיפים פשטות, קלות שימוש וחווית משתמש מהנה.
            </p>
            <br>
            <p>
                ב-Smartshuk.co.il, אנו מעריכים באמת את המשתמשים, הלקוחות והעבודה שאנו עושים. הצטרפו לקהילת Smartshuk.co.il היום וטבלו בתוך הריגוש של שוק המודעות המותאמות אישית המשגשג בישראל. הירשמו עכשיו וחוו תקשורת חסרת תקיעות עם מוכרים, הופך את קניה ומכירה ב-Smartshuk.co.il לפעולה קלה ונוחה. היכנסו לפלטפורמה שבאמת מבינה ומתאימה לצרכים שלכם, ומקדמת קשרים שיביאו ליחסים ארוכי טווח.
            </p>
            <br>
        </main>
        {% include 'modules/accessible_menu.html' %}
        {% include 'modules/footer.html' %}
    </body>

</html>