{% extends 'modules/user_ads_stack_visualizer.html' %}

{% load static %}

{% block Page_Title_Top_Info%}

                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                    </form>

                        {% comment %} not ready {% endcomment %}
                        <datalist id="city_list">
                            {% for city in city_list %}
                                <option value="{{ city.name }}">
                            {% endfor %}
                        </datalist>
                        <script>
                            var input = document.getElementById('id_city');
                            var datalist = document.getElementById('city_list');
                            var options = datalist.getElementsByTagName('option');
                            input.addEventListener('input', function() {
                            // Hide the dropdown list if there are no matching options
                            var matching_options = Array.from(options).filter(function(option) {
                                return option.value.indexOf(input.value) === 0;
                            });
                            if (matching_options.length === 0) {
                                datalist.style.display = 'none';
                                return;
                            }
                            // Show the dropdown list and highlight the first matching option
                            datalist.style.display = 'block';
                            matching_options[0].selected = true;
                            });
                        </script>
                    
{% endblock Page_Title_Top_Info %}

{% block top_content %}
                    <div class="image-container" data-description="{{ ad.category }} ל{{ ad.deal_type}} ב{{ ad.city }}">
                        <img class="opener" loading="lazy"  alt="תמונה" src="{% if ad.picture.url %}{{ ad.picture.url }}{% else %}{% static "main/default-photos/ad-main-img.jpg" %}{% endif %}">
                    </div>


                    {% if ad.pictures and ad.pictures.all.count > 0 %}
                        <div class="text_on_img">+{{ ad.pictures.all|length }}</div>
                    {% endif %}


                    <div class="info">
                        <p>
                            
                        {% if ad.category.singular_name %}
                            {{ ad.category.singular_name }}
                        {% else %}
                            {{ ad.category }}
                        {% endif %}

                        {% if ad.rooms <= 0 %}
                            <span class="important_text">סטודיו</span>,
                        {% elif ad.rooms == 1 %}
                            חדר&nbsp;<span class="important_text">{{ ad.rooms }}</span>,
                        {% else %}
                            <span class="important_text">{{ ad.rooms }}</span>&nbsp;חדרים,
                        {% endif%}

                        מ"ר&nbsp;<span class="important_text">{{ ad.size_m2 }}</span>,

                        {% if ad.floor != 0 %}
                            קומה&nbsp;<span class="important_text">{{ ad.floor }}</span>
                        {% else %}
                            קומה&nbsp;<span class="important_text">קרקע</span>
                        {% endif%}
                        <br>

                        {{ ad.city }}, {{ ad.address }}
                        <br>

                        {% if ad.number_floors_in_house > 1 %}
                            בניין&nbsp;בן&nbsp;{{ ad.number_floors_in_house }}&nbsp;קומות
                        {% else %}
                            בניין&nbsp;חד&nbsp;קומתי
                        {% endif%}
                        <br>

                        {% if ad.cost > 0 %}
                            מחיר <span class="important_text">{{ ad.cost}}</span> ש״ח
                        {% elif ad.cost == 0 %}
                            {% comment %} gratis {% endcomment %}
                            <span class="important_text">חינם</span>
                        {% elif ad.cost == -1 %}
                            {% comment %} auction {% endcomment %}
                            <span class="important_text">מכירה פומבית</span>
                        {% elif ad.cost == -2 %}
                            {% comment %} not specified {% endcomment %}
                            מחיר <span class="important_text">לא מוגדר</span>
                        {% else %}
                            {% comment %} incorrect value {% endcomment %}
                            מחיר <span class="important_text">ערך שגוי</span>
                        {% endif %}
                        </p>
                        
                    </div>
                    <div class="ad_action_buttons_box">
                        <button class="details_button">פרטים</button>
                        {% if user.is_authenticated %}
                            <button class="like" data-realestate-id="{{ ad.id }}">&#9825;</button>
                        {% else %}
                            <a href="{% url 'login' %}?next={{ request.path }}" class="button">&#9825;</a>
                        {% endif %}
                    </div>
{% endblock top_content %}

{% block hidden_content %}

    <div class="gallery">
        <img class="opener" loading="lazy"  alt="תמונה" src="{% if ad.picture.url %}{{ ad.picture.url }}{% else %}{% static "main/default-photos/ad-main-img.jpg" %}{% endif %}">
        {% for picture in ad.pictures.all %}
            <span class="image-container" data-description="{{ ad.category }} ל{{ ad.deal_type}} ב{{ ad.city }}">
                <img class="opener" loading="lazy" src="{{ picture.picture.url }}" alt="תמונה">
            </span>
        {% endfor %}
    </div>
                        
    <div class="info_box_big">
        {% comment %} <span class="box_title">
            <p>
                כותרת
            </P>
            <br>
        </span> {% endcomment %}

        <p class="ad_title">{{ ad.title}}</p>
    </div>

    <div class="info_box_big">
        <span class="box_title">
            <p>
                תיאור
            </P>
            <br>
        </span>

        <p>{{ ad.description}}</p>
    </div>
    <div class=" info_box_big">
        <span class="box_title">
            <p>
                תוספות
            </P>
            <br>
        </span>

        {% include 'user_ads/real_estate_ad_boolian_features_icons.html' %}

    </div>
    
    <div class="info_box_big">
        <span class="box_title">
            <p>צור קשר</P>
            <br>
        </span>

        <span class="fly_button"><a href="tel:{{ ad.phone }}">tel: {{ ad.phone}}</a></span>
        <br>
        <br>

        <span style="display: flex; justify-content: center; align-items: center; text-align: center;"> {{ ad.city}}, {{ ad.address }}</span>

        {% with ad.city|urlencode as encoded_city %}
        {% with ad.address|urlencode as encoded_address %}
        <iframe src="{% url 'map_popup' %}?city={{ encoded_city }}&address={{ encoded_address }}" width="100%" height="420" frameborder="0" scrolling="no" loading="lazy"></iframe>
        <script>
            console.log("{{ encoded_city }}");
        </script>
        {% endwith %}
        {% endwith %}

        <span style="display: flex; justify-content: center; align-items: center; text-align: center;">
            &nbsp;הסתכל ב&nbsp;
            <br>
            <a href="https://www.google.com/maps/search/?api=1&query={{ ad.city}}, {{ ad.address }}" target="_blank">Google Maps</a>
            &nbsp;|&nbsp;
            <a href="http://maps.apple.com/?q={{ ad.city}}, {{ ad.address }}" target="_blank">Apple Maps</a>
        </span>

    </div>

{% endblock hidden_content %}

{% block extra_js %}

    <script>
        {% comment %} create or remove Like {% endcomment %}
        document.addEventListener('DOMContentLoaded', function() {
            const likeButtons = document.querySelectorAll('.like');
            likeButtons.forEach(function(likeButton) {
                likeButton.addEventListener('click', function(event) {
                    event.preventDefault();
        
                    // Disable the like button
                    likeButton.disabled = true;
        
                    const realEstateId = likeButton.dataset.realestateId;
        
                    fetch(`/real_estate/like/${realEstateId}/`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.created) {
                            likeButton.classList.add('liked');
                        } else {
                            likeButton.classList.remove('liked');
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    })
                    .finally(() => {
                        // Enable the like button after the response is received
                        likeButton.disabled = false;
                    });
                });
            });
        });    
    </script>

    {% if user.is_authenticated %}
    {% comment %} Check for each button if is already Liked in sepatate request (because of cached page), then makerk them {% endcomment %}
        <script>
            const likedRealEstateIdsUrl = '/real_estate/liked_real_estate_ids_json/';

            fetch(likedRealEstateIdsUrl)
                .then(response => response.json())
                .then(data => {
                    const likedRealEstateIds = data.liked_real_estate_ids;
                    likedRealEstateIds.forEach(function(realEstateId) {
                        const button = document.querySelector(`button[data-realestate-id="${realEstateId}"]`);
                        if (button) {
                            button.classList.add('liked');
                        }
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });    
        </script>
    {% endif %}

{% endblock extra_js %}
